mixin item-selector(label, item, id)
  =label
  &nbsp;
  span(class='popup-selector', id=id)
    a(class='open', href='#')
      span(id='uuid-' + item._id).selected
        =item.title
      .template
        .line
      .content

mixin date-selector(label, id)
  =label
  span(class='popup-selector', id=id)
    a(class='open')
      span.selected
      .content

mixin color-selector(label, color, id)
  =label
  &nbsp;
  span(class='popup-selector', id=id)
    a(class='open', href='#')
      div(class='selected '+color)
      .template
        .color
      .content

mixin time-input(task, label, property)
  span
    =label
    span.error-popup
      .content.error
        =label + ' must be specified as a positive number < 100 with not more than two precision digits (e.g. "1" or "99.25").'
    input(type='text', size='5', maxlength='5', name=property, value=task[property]).time

link(rel='stylesheet', href='/common.css', type='text/css')
script(type='text/javascript', src='/jquery-dev.js')
script(type='text/javascript', src='/jquery-ui.js')
script(type='text/javascript', src='/jquery-autogrow.js')
script(type='text/javascript', src='/jquery.cookie.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/ajaxq.js')
script(type='text/javascript', src='/common.js')
