html
	head
		title Index
		include shared
		script(type='text/javascript', src='/index.coffee.js')
	body
		#container
			#breadcrumb-bar
				span.breadcrumb.index.selected Index
				img(src="/logo_30.png").logo
			#content
				form
					ul(data-bind="foreach: sprints()")#sprints
						li.sprint
							h2(data-bind="html: $parent.formatStart($data) + '&nbsp;&ndash;&nbsp;' + $parent.formatEnd($data)")
							.panel
								div(data-bind="css: $data.readonly.color() + ' header'")
									input(data-bind="value: $data.writable.title, valueUpdate: ['afterkeydown','propertychange','input'], attr: {name: 'title-' + $index()}")
								textarea(data-bind="value: $data.writable.description, valueUpdate: ['afterkeydown','propertychange','input'], attr: {name: 'description-' + $index()}").body
								.button-bar
									.buttons
										a(data-bind="attr: {href: $data.url}").button.open
											=messages.en.OPEN
										input(data-bind="click: $parent.removeSprint.bind($data)", type='button', value=messages.en.REMOVE).button.remove
			#button-bar
				form.buttons
					input(data-bind="click: addSprint", type='button', value=messages.en.ADD_SPRINT).button.add
		div(data-bind="visible: modal() == 'error-dialog'")#error-dialog
			div(data-bind="text: errorMessage()").message.error
			.popup-buttons
				form.buttons
					input(data-bind="click: confirmError", type="button", value=messages.en.OK).button.confirm
		div(data-bind="visible: modal() == 'confirm-dialog'")#confirm-dialog
			div(data-bind="text: confirmMessage()").message.warning
			.popup-buttons
				form.buttons
					input(data-bind="click: cancel", type="button", value=messages.en.CANCEL).button.cancel
					input(data-bind="click: confirm", type="button", value=messages.en.CONFIRM).button.confirm
		div(data-bind="visible: modal() != null")#overlay
		script(type='text/javascript')
			
			var model, viewModel;
			model = new IndexModel(!{JSON.stringify(sprints)});
			viewModel = new IndexViewModel(model);
			ko.applyBindings(viewModel);