mixin panel(id, title, description)
  li(class='panel', id=id)
    form
      .title
        span
          input(type='text', name='title', value=title)
        span(class='icons')
          img(class='remove-button', src='/remove.png', alt='remove')
          img(class='open-button', src='/open.png', alt='open')
          img(class='save-button', src='/save.png', alt='save')
          img(class='show-button', src='/show.png', alt='show')
          img(class='hide-button', src='/hide.png', alt='hide')
      .description
        textarea(name='description')
          =description
html
  head
    title Stories
    include common
    script(type='text/javascript', src='/sprint.js')
    script(type='text/javascript')
    
      var items = !{JSON.stringify(stories)};
      items.push(!{JSON.stringify(sprint)});
      populateItemMap(items);
  body
    #error-panel
      #message
      #icons
        img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id=sprint._id)
      form
        .title
          span
            input(type='text', name='title', value=sprint.title)
          span(class='icons')
            img(class='add-button', src='/add.png', alt='add')
            img(class='save-button', src='/save.png', alt='save')
        .description
          textarea(name='description').
            #{sprint.description}
    ul(id='panel-container')

      mixin panel('panel-template', '', '')

      each story, i in stories
      
        mixin panel(story._id, story.title, story.description)