mixin panel(id, title, description, color)
  li(class='panel', id=id)
    form
      div(class='header ' + color)
        input(type='text', name='title', value=title, class=color)
        .icons
          //img(class='open-button', src='/open.png', alt='open')
          a(href='#')
            img(class='save-button', src='/save.png', alt='save')
          a(href='#')
            img(class='remove-button', src='/remove.png', alt='remove')         
          a(href='#')
            img(class='show-button', src='/show.png', alt='show')
          a(href='#')
            img(class='hide-button', src='/hide.png', alt='hide')
        .handle
      .description
        textarea(name='description')
          =description
html
  head
    title Stories
    include common
    script(type='text/javascript', src='/sprint.js')
    script(type='text/javascript')
    
      var sprint = !{JSON.stringify(sprint)};
      sprint.start = new Date(sprint.start);

      var items = {};
      items.story = !{JSON.stringify(stories)};
      items.sprint = [sprint];

      $(document).ready(function() {

        attachAttributesToItems(items);
        $('#start-selector span.selected').html(buildDateString(sprint.start));
        var end = new Date(sprint.start.getTime() + (sprint.length * MS_DAYS_FACTOR));
        $('#length-selector span.selected').html(buildDateString(end));        
      });
  body
    #error-panel
      .message
      .icons
        a(href='#')
          img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + sprint._id)
      form
        div(class='header ' + sprint.color)
          input(type='text', name='title', value=sprint.title, class=sprint.color)
          .icons
            a(href='#')
              img(class='save-button', src='/save.png', alt='save')
          .handle
        .description
          textarea(name='description').
            #{sprint.description}
        hr
        .line
          mixin color-selector('Color', sprint.color, 'color-selector')
        .line
          mixin date-selector('Start date', 'start-selector')
        .line
          mixin date-selector('End date', 'length-selector')
    ul
      mixin panel('panel-template', '', '')
    ul(id='panel-container')

      each story, i in stories
      
        mixin panel('uuid-' + story._id, story.title, story.description, story.color)
    a(href='#')
      img(id='add-button', src='/add-circle.png', alt='add')  