mixin panel(id, title, description, color, remaining_time)
  li(class='panel', id=id)
    form(autocomplete='off')
      div(class='header ' + color)
        .left
          input(type='text', name='title', value=title, class=color, maxlength=32)
        .right
          img(src='/done.png', alt='done').done.icon
          img(src='/clock.png', alt='remaining').remaining.icon
          span.remaining.text
            =remaining_time
          a(href='#')
            img(src='/remove.png', alt='remove').remove.button       
          a(href='#')
            img(src='/show.png', alt='show').show.button
          a(href='#')
            img(src='/hide.png', alt='hide').hide.button
      .body
        textarea(name='description')
          =description
html
  head
    title Stories
    include common
    script(type='text/javascript', src='/sprint.js')
    script(type='text/javascript')
    
      var sprint = !{JSON.stringify(sprint)};
      sprint.start = new Date(sprint.start);

      var items = {};
      items.story = !{JSON.stringify(stories)};
      items.sprint = [sprint];

      $(document).ready(function() {

        attachAttributesToItems(items);
        $('#start-selector span.selected').html(buildDateString(sprint.start));
        var end = new Date(sprint.start.getTime() + (sprint.length * MS_DAYS_FACTOR));
        $('#length-selector span.selected').html(buildDateString(end));
        
        var calculations = !{JSON.stringify(calculations)};
        $('#panel-container .panel').each(function(index, element){

          var item = $(element);
          var attributes = item.data('attributes');
          var remainingTime = calculations.remaining_time[attributes._id];
          item.data('calculations', {remaining_time: remainingTime});
          item.data('update').remaining_time(item, remainingTime);
        });
      });
  body
    #alert-panel
      .message
      .icons
        a(href='#')
          img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + sprint._id)
      form(autocomplete='off')
        div(class='header ' + sprint.color)
          .left
            input(type='text', name='title', value=sprint.title, class=sprint.color, maxlength=32)
        .body
          textarea(name='description')
            =sprint.description
          hr
          .line
            mixin color-selector('Color', sprint.color, 'color-selector')
          .line
            mixin date-selector('Start date', 'start-selector')
          .line
            mixin date-selector('End date', 'length-selector')
    ul
      mixin panel('panel-template', '', '')
    ul#panel-container.sortable

      each story, i in stories
      
        mixin panel('uuid-' + story._id, story.title, story.description, story.color, calculations.remaining_time[story._id])
    a(href='#')
      img(id='add-button', src='/add-circle.png', alt='add')