html
	head
		title Sprint details
		include shared
		script(type='text/javascript', src='/knockout-sortable.min.js')
		script(type='text/javascript', src='/sprint.coffee.js')
	body(data-bind="event: {keyup: cancelPopup}")
		#container
			#breadcrumb-bar
				a(href="/").breadcrumb.index Index
				span(data-bind="text: title").breadcrumb.sprint.selected
				img(src="/logo_30.png").logo
			#content
				form
					p
						input(data-bind="value: title, valueUpdate: ['afterkeydown','propertychange','input']", name="title")#title.identifier
					p
						textarea(data-bind="value: description, valueUpdate: ['afterkeydown','propertychange','input']", name="description")#description
					.attribute
						span.label
							=messages.en.COLOR+':'
						span#color-selector.popup-selector
							button(data-bind="click: showColorSelector, css: color", name="color")
								span(data-bind="css: color").selected
							div(data-bind="foreach: common.COLORS, visible: modal() == 'color-selector'").content
								div(data-bind="click: $parent.selectColor, css: $data + ' box-' + $index()").color.hoverable
					.attribute
						span.label
							=messages.en.START_DATE+':'
						span#start.popup-selector.date-selector
							button(data-bind="click: showStartDatePicker, text: startFormatted()", name="start").selected
							div(data-bind="datepicker: startDate, visible: modal() == 'start-selector'").content
					.attribute
						span.label
							=messages.en.END_DATE+':'
						span#length.popup-selector.date-selector
							button(data-bind="click: showLengthDatePicker, text: endFormatted()", name="length").selected
							div(data-bind="datepicker: lengthDate, datepickerMin: startDate(), visible: modal() == 'length-selector'").content
					ul(data-bind="sortable: stories")#well
						li.panel
							div(data-bind="css: $data.color() + ' header hoverable'")
								input(data-bind="value: $data.title, valueUpdate: ['afterkeydown','propertychange','input'], attr: {name: 'title-' + $index()}")
								.stats
										div(data-bind="if: $data._remaining_time() !== null")
											div(data-bind="ifnot: $data._remaining_time() > 0")
												img(src="/done_white_30.png")
											div(data-bind="if: $data._remaining_time() > 0")
												img(src="/clock_white_30.png")
												div(data-bind="text: $data._remaining_time()").text
							textarea(data-bind="value: $data.description, valueUpdate: ['afterkeydown','propertychange','input'], attr: {name: 'description-' + $index()}").body
							.button-bar
								.buttons
									a(data-bind="attr: {href: $data._url}").button.open
										=messages.en.OPEN
									input(data-bind="click: $parent.removeStory.bind($data)", type='button', value=messages.en.REMOVE).button.remove	
			#button-bar
				form.buttons
					input(data-bind="click: addStory", type='button', value=messages.en.ADD_STORY, name="add-story").button.add
					input(type='button', value=messages.en.REMOVE, name="remove").button.remove
		div(data-bind="visible: modal() == 'error-dialog'")#error-dialog
			div(data-bind="text: errorMessage()").message.error
			.popup-buttons
				form.buttons
					input(data-bind="click: confirmError", type="button", value=messages.en.OK).button.confirm
		div(data-bind="visible: modal() == 'confirm-dialog'")#confirm-dialog
			div(data-bind="text: confirmMessage()").message.warning
			.popup-buttons
				form.buttons
					input(data-bind="click: cancel", type="button", value=messages.en.CANCEL).button.cancel
					input(data-bind="click: confirm", type="button", value=messages.en.CONFIRM).button.confirm
		div(data-bind="visible: modal() != null")#overlay
		script(type='text/javascript')

			var model, viewModel;
			model = new SprintModel(!{JSON.stringify(stories)}, !{JSON.stringify(sprint)}, !{JSON.stringify(calculations)});
			viewModel = new SprintViewModel(model);
			socketIO = new SprintSocketIO(model, viewModel);
			ko.applyBindings(viewModel);