mixin panel(id, title, description)
  li(class='panel', id=id)
    form
      .header
        input(type='text', name='title', value=title)
        .icons
          //img(class='open-button', src='/open.png', alt='open')
          img(class='save-button', src='/save.png', alt='save')
          img(class='remove-button', src='/remove.png', alt='remove')          
          img(class='show-button', src='/show.png', alt='show')
          img(class='hide-button', src='/hide.png', alt='hide')
        .handle
      .description
        textarea(name='description')
          =description
html
  head
    title Stories
    include common
    script(type='text/javascript', src='/sprint.js')
    script(type='text/javascript')
    
      var items = !{JSON.stringify(stories)};
      items.push(!{JSON.stringify(sprint)});
      populateItemMap(items);
      var types = {parent: 'sprint', child: 'story'};
  body
    #error-panel
      #message
      #icons
        img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + sprint._id)
      form
        .header
          input(type='text', name='title', value=sprint.title)
          .icons
            img(class='save-button', src='/save.png', alt='save')
          .handle
        .description
          textarea(name='description').
            #{sprint.description}
    ul
      mixin panel('panel-template', '', '')
    ul(id='panel-container')

      each story, i in stories
      
        mixin panel('uuid-' + story._id, story.title, story.description)
    img(id='add-button', src='/add-circle.png', alt='add')  