html
	head
		title Sprint details
		include shared
		script(type='text/javascript', src='/knockout-sortable.min.js')
		script(type='text/javascript', src='/markdown.coffee.js')
		script(type='text/javascript', src='/parent.coffee.js')
		script(type='text/javascript', src='/sortable.coffee.js')
		script(type='text/javascript', src='/sprint.coffee.js')
	body(data-bind="event: {keyup: cancelPopup}")
		#container
			#breadcrumb-bar
				a(href="/").breadcrumb.index Index
				span(data-bind="text: writable.title").breadcrumb.sprint.selected
				img(src="/logo_30.png").logo
			#content
				form
					input(data-bind="value: writable.title, valueUpdate: ['afterkeydown','propertychange','input']", name="title", autocomplete="off")#title.identifier
					textarea(data-bind="visible: editorVisible() == true, hasFocus: editorVisible, event: {keyup: hideEditor.bind($data, editorVisible)}, value: writable.description, valueUpdate: ['afterkeydown','propertychange','input']", name="description")#description
					div(data-bind="visible: editorVisible() == false, click: showEditor.bind($data, editorVisible), html: markdown").markdown					.attribute
					.attribute
						span.label
							=messages.en.COLOR+':'
						span#color-selector.popup-selector
							button(data-bind="click: showColorSelector, css: writable.color", name="color")
								span(data-bind="css: writable.color").selected
							div(data-bind="foreach: common.COLORS, visible: modal() == 'color-selector'").content
								div(data-bind="click: $parent.selectColor, css: $data + ' box-' + $index()").color.hoverable
					.attribute
						span.label
							=messages.en.START_DATE+':'
						span#start.popup-selector.date-selector
							button(data-bind="click: showStartDatePicker, text: computed.startFormatted()", name="start").selected
							div(data-bind="datepicker: computed.startDate, visible: modal() == 'start-selector'").content
					.attribute
						span.label
							=messages.en.END_DATE+':'
						span#length.popup-selector.date-selector
							button(data-bind="click: showLengthDatePicker, text: computed.endFormatted()", name="length").selected
							div(data-bind="datepicker: computed.lengthDate, datepickerMin: computed.startDate(), visible: modal() == 'length-selector'").content
					ul(data-bind="sortable: stories")#well
						li.panel
							div(data-bind="css: $data.readonly.color() + ' header hoverable'")
								input(data-bind="value: $data.writable.title, valueUpdate: ['afterkeydown','propertychange','input'], attr: {name: 'title-' + $index()}")
								.stats
										div(data-bind="if: $data.computed.remaining_time() !== undefined")
											div(data-bind="ifnot: $data.computed.remaining_time() > 0")
												img(src="/done_white_30.png")
											div(data-bind="if: $data.computed.remaining_time() > 0")
												img(src="/clock_white_30.png")
												div(data-bind="text: parseFloat($data.computed.remaining_time().toFixed(2))").text
							textarea(data-bind="visible: $data.editorVisible() == true, hasFocus: $data.editorVisible, event: {keyup: $parent.hideEditor.bind($data, $data.editorVisible)}, value: $data.writable.description, valueUpdate: ['afterkeydown','propertychange','input'], attr: {name: 'description-' + $index()}").body
							div(data-bind="visible: $data.editorVisible() == false, click: $parent.showEditor.bind($data, $data.editorVisible), html: $data.markdown").markdown
							.button-bar
								.buttons
									a(data-bind="attr: {href: $data.url}").button.open
										=messages.en.OPEN
									input(data-bind="click: $parent.removeStory.bind($data)", type='button', value=messages.en.REMOVE).button.remove	
			#button-bar
				form.buttons
					input(data-bind="click: showStats", type='button', value=messages.en.SHOW_STATS, name="show_stats").button.stats
					input(data-bind="click: addStory", type='button', value=messages.en.ADD_STORY, name="add-story").button.add
					input(type='button', value=messages.en.REMOVE, name="remove").button.remove
		+errorDialog()
		+confirmDialog()
		div(data-bind="visible: modal() == 'stats-dialog'")#stats-dialog
			.content
				.textbox
					p.stat.no-of-stories
						span.label
							=messages.en.NO_OF_STORIES+':'
						span(data-bind="text: stories().length").value
					p.stat.no-of-tasks
						span.label
							=messages.en.NO_OF_TASKS+':'
						span(data-bind="text: computed.taskCount").value 
					p.stat.remaining-time
						span.label
							=messages.en.REMAINING_TIME+':'
						span(data-bind="text: computed.remainingTime").value
					p.stat.time-spent
						span.label
							=messages.en.TIME_SPENT+':'
						span(data-bind="text: computed.timeSpent").value
				.chartbox
					#chart
			.popup-buttons
				form.buttons
					input(data-bind="click: closeStats", type="button", value=messages.en.CLOSE).button.close
		div(data-bind="visible: modal() != null")#overlay
		script(type='text/javascript')

			var model, viewModel;
			model = new SprintModel(!{JSON.stringify(stories)}, !{JSON.stringify(sprint)}, !{JSON.stringify(calculations)});
			viewModel = new SprintViewModel(model);
			ko.applyBindings(viewModel);