mixin panel(id, summary, description, color, remaining_time)
  li(class='panel', id=id)
    form(autocomplete='off')
      div(class='header ' + color)
        .left
          input(type='text', name='summary', value=summary, class=color, maxlength=32)
        .right
          img(src='/clock.png', alt='remaining').remaining.icon
          img(src='/done.png', alt='remaining').done.icon
          span.remaining.text
            =remaining_time
          a(href='#')
            img(src='/remove.png', alt='remove').remove.button
          a(href='#')
            img(src='/show.png', alt='show').show.button
          a(href='#')
            img(src='/hide.png', alt='hide').hide.button
      .body
        textarea(name='description')
          =description

html
  head
    title Tasks
    include common
    script(type='text/javascript', src='/story.js')
    script(type='text/javascript')

      var items = {};
      items.task = !{JSON.stringify(tasks)};
      items.story = [!{JSON.stringify(story)}];

      $(document).ready(function() {

        attachAttributesToItems(items);
        $('#sprint-selector').data('selected', !{JSON.stringify(sprint)});

        $('#panel-container .panel').each(function(index, element) {

          var item = $(element);
          var attributes = item.data('attributes');
          item.data('update').remaining_time(item, attributes.remaining_time);
        });
      });
  body
    #error-panel
      .message
      .icons
        a(href='#')
          img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + story._id)
      form(autocomplete='off')
        div(class='header ' + story.color)
          .left
            input(type='text', name='title', value=story.title, class=story.color, maxlength=64)
        .body
          textarea(name='description')
            =story.description
          hr
          .line
            mixin time-input(story, 'Time estimation', 'estimation')
          .line
            mixin item-selector('Sprint', sprint, 'sprint-selector')
          .line
            mixin color-selector('Color', story.color, 'color-selector')
    ul
      mixin panel('panel-template')
    ul(id='panel-container')

      each task, i in tasks
      
        mixin panel('uuid-' + task._id, task.summary, task.description, task.color, task.remaining_time)
    a(href='#')
      img(id='add-button', src='/add-circle.png', alt='add')
                