html
    head
        title Task details
        include common
    body
        form(action='/task/' + task._id, method='post')
            input(name='_id', type='hidden', value=task._id)
            input(name='_rev', type='hidden', value=task._rev)
            .form_field 
                label(for='summary') Summary:
                input(name='summary', type='text', value=task.summary)
            .form_field
                label(for='description') Description:
                input(name='description', type='text', value=task.description)
            .form_field
                label(for='status') Status:
                input(name='status', type='text', value=task.status) 
            .form_field
                input(type='submit', value='Update')
        
        