html
	head
		title Task details
		link(rel='stylesheet', href='/shared.css', type='text/css')
		include shared_ractive
		script(type='text/javascript', src='/task.coffee.js')
	body(data-bind="event: {keyup: cancelPopup}")
		#container
			#breadcrumb-bar
				a(href="/").breadcrumb.index Index
			#content
				form
					p
						input(data-bind="value: summary, valueUpdate: ['afterkeydown','propertychange','input']")#summary.identifier
					p
						textarea(data-bind="value: description, valueUpdate: ['afterkeydown','propertychange','input']")#description
					.attribute
						span.label
							=messages.en.COLOR+':'
						span#color-selector.popup-selector
							button(data-bind="click: showColorSelector, css: color")
								span(data-bind="css: color").selected
							div(data-bind="foreach: common.COLORS, visible: modal() == 'color-selector'").content
								div(data-bind="click: $parent.selectColor, css: $data + ' box-' + $index()").color.hoverable							
					.attribute
						span.label
							=messages.en.STORY+':'
						span#story-selector.popup-selector.line-selector
							button(data-bind="click: showStorySelector, text: storyIdFormatted()").selected
							div(data-bind="foreach: stories, visible: modal() == 'story-selector'").content
								div(data-bind="click: $parent.selectStory, text: title").line
					.attribute
						span.label
							=messages.en.INITIAL_ESTIMATION+':'
						input(data-bind="value: initialEstimation, valueUpdate: ['afterkeydown','propertychange','input']")
						span(data-bind="visible: initialEstimation.hasError").error-popup
							.content.error
								=messages.en.VALID_TIME_MESSAGE
					.attribute
						span.label
							=messages.en.REMAINING_TIME
						span#remaining_time-index.popup-selector.date-selector
							|(
							button(data-bind="click: showRemainingTimeDatePicker, text: remainingTimeIndexFormatted()").selected
							div(data-bind="datepicker: remainingTimeIndex, datepickerMin: startIndex(), datepickerMax: endIndex(), visible: modal() == 'remaining_time-index'").content
							|):&nbsp;
						input(data-bind="value: indexedRemainingTime, valueUpdate: ['afterkeydown','propertychange','input']")
						span(data-bind="visible: indexedRemainingTime.hasError").error-popup
							.content.error
								=messages.en.VALID_TIME_MESSAGE
					.attribute
						span.label
							=messages.en.TIME_SPENT
						span#time_spent-index.popup-selector.date-selector
							|(
							button(data-bind="click: showTimeSpentDatePicker, text: timeSpentIndexFormatted()").selected
							div(data-bind="datepicker: timeSpentIndex, datepickerMin: startIndex(), datepickerMax: endIndex(), visible: modal() == 'time_spent-index'").content
							|):&nbsp;
						input(data-bind="value: indexedTimeSpent, valueUpdate: ['afterkeydown','propertychange','input']")
						span(data-bind="visible: indexedTimeSpent.hasError").error-popup
							.content.error
								=messages.en.VALID_TIME_MESSAGE
			#button-bar
				form.buttons
					input(type='button', value=messages.en.REMOVE).button.remove
		div(data-bind="visible: modal() == 'error-dialog'")#error-dialog
			div(data-bind="text: errorMessage()").message.error
			.popup-buttons
				form.buttons
					input(data-bind="click: confirmError", type="button", value=messages.en.OK).button
		div(data-bind="visible: modal() != null")#overlay
		script(type='text/javascript')
			
			var model, viewModel;
			model = new TaskModel(!{JSON.stringify(task)}, !{JSON.stringify(story)}, !{JSON.stringify(sprint)});
			viewModel = new TaskViewModel(model)
			ko.applyBindings(viewModel);