mixin popup-selector(label, story, id)

  =label + ': '
  span(class='popup-selector', id=id)
    a(class='open', href='#')
      span
        =story.title
      .template
        .line
      .content

html
  head
    title Task details
    include common
    script(type='text/javascript', src='/task.js')
    script(type='text/javascript')
    
      var items = {};
      items.task = [!{JSON.stringify(task)}];

      $(document).ready(function() {

        attachAttributesToItems(items);
        $('#story-selector').data('selected', '!{story._id}');
        $('#story-selector').data('sprint_id', '!{story.sprint_id}');
      });
  body
    #error-panel
      .message
      .icons
        a(href='#')
          img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + task._id)
      form
        .header
          input(type='text', name='summary', value=task.summary)
          .icons
            a(href='#')
              img(class='save-button', src='/save.png', alt='save')
          .handle
        .description
          textarea(name='description').
            #{task.description}
        hr
        .stats
          | Initial estimation:
          input(type='text', name='initial_estimation', value=task.initial_estimation, size='5', maxlength='5')
          | Remaining time:
          input(type='text', name='remaining_time', value=task.remaining_time, size='5', maxlength='5')
          | Time spent:
          input(type='text', name='time_spent', value=task.time_spent, size='5', maxlength='5')
        .stats
          mixin popup-selector('Story', story, 'story-selector')
        //.stats
        //  mixin popup-selector('Color setting', {title: 'Some Color', _id: 'some id'}, 'color-selector')