html
  head
    title Task details
    include common
    script(type='text/javascript', src='/task.js')
    script(type='text/javascript')
    
      var items = {};
      items.task = [!{JSON.stringify(task)}];

      $(document).ready(function() {

        attachAttributesToItems(items);
        $('#story-selector').data('selected', {id: '!{story._id}', label: '!{story.title}', parent_id: '!{story.sprint_id }'});
        $('#color-selector').data('selected', {id:'!{task.color}'});
      });
  body
    #error-panel
      .message
      .icons
        a(href='#')
          img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + task._id)
      form
        div(class='header ' + task.color)
          input(type='text', name='summary', value=task.summary, class=task.color)
          .icons
            a(href='#')
              img(class='save-button', src='/save.png', alt='save')
          .handle
        .description
          textarea(name='description').
            #{task.description}
        hr
        .line
          mixin time-input(task, 'Initial estimation', 'initial_estimation')
          mixin time-input(task, 'Remaining Time', 'remaining_time')
          mixin time-input(task, 'Spent time', 'time_spent')
        .line
          mixin item-selector('Story', story, 'story-selector')
        .line
          mixin color-selector('Color', task.color, 'color-selector')